@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
@media (max-width: 767px) { 

.navbar-toggle{
     padding: 15px 11px !important;   
}
    .logo{
        margin-bottom: 5px;
    }
    .quick-links ul li a{
    text-decoration: none;
    color: #626262;
    font-size: 10px;
    font-family: 'Playfair Display', serif;
}
    .social-bar ul li a{
    text-decoration: none;
    color: #626262;
    font-size: 10px;
    font-family: 'Playfair Display', serif;
    
}
}
@media (min-width: 768px) and (max-width: 992px) { 
.nav>li>a {
    padding: 20px 36px !important;
}
    @media (min-width: 768px) and (max-width: 992px) { 
.nav>li>a {
    padding: 20px 22px !important;
    font-size: 12px;
}
    
}
@media (min-width: 992px) and (max-width: 1199px) { 

}

@media (min-width: 1200px) {
    
}
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
